/* .services-container {
    display: flex-table;
    width: 100%;
    margin-left: 2.4%;
    padding: 0.5rem;
    gap: 1rem;
    background-color:yellow;
    height: fit-content;
  }
  
  .service-card {
    width: 10rem;
    border-radius: 7%;
    box-shadow: #0c0b0b;
    gap: 100px;
    margin-bottom: 20px;
    /* Adjust the value to set the desired vertical spacing between cards */
    /* padding: 10px;
    border: 0.9rem solid #0c0b0b;
  } */
  
  /* .service-image {
    width: 100%;
    height: auto;
    object-fit: cover;
  } */ */
  .container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .card {
    background-color: wheat;
    padding: 16px;
    margin: 16px 0;
    border-radius: 8px;
  }